/* Establece el modelo de caja para todos los elementos y quita los márgenes y rellenos predeterminados */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Define el tamaño del HTML y el BODY para que ocupen toda la pantalla del navegador */
html, body {
	width: 100vw;
	height: 100vh;
	background-color: #E0F7FA; /* Azul claro suave */
}

/* Estiliza el contenedor principal que engloba todo el juego */
.contenedor__principal {
	width: inherit;
	height: inherit;
	background-color: #80CBC4; /* Verde agua */
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Contenedor secundario que mantiene el área del juego */
.contenedor__2do {
	width: 500px;
	height: 550px;
	background-color: inherit;
	display: block;
}

/* Estiliza la barra de puntaje */
.score__board {
	width: inherit;
	height: 10%;
	border-radius: 7px 7px 0 0;
	font-size: 24px;
	text-shadow: 1px 1px 2px black;
	background-color: #74a8d2; 
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* Estiliza la sección donde se muestran los puntos */
.ptos {
	width: fit-content;
	height: fit-content;
	margin-left: 10%;
	color: #FFF;
}


/* Estiliza la sección para el puntaje más alto */
.hi {
	width: fit-content;
	height: fit-content;
	margin-right: 10%;
	color: #FFF; 
}

/* Define el tablero del juego */
.board {
	width: 100%;
	height: 90%;
	border: 1px solid black;
	background: linear-gradient(#8bc8d6, #bf7db2); 
	display: grid;
	grid-template: repeat(20, 1fr) / repeat(20, 1fr);
}

/* Clase base para los elementos dentro del tablero */
.sprite {
	width: 100%;
	height: 100%;
}

/* Estiliza la serpiente */
.snake {
	background-color: #388E3C; 
	box-shadow: 2px 2px 9px #2E7D32; 
}

/* Estiliza la manzana */
.manzana {
	border-radius: 50%;
	background: radial-gradient(#FF5252, #D32F2F); 
	box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.7);
	grid-area: 3 / 3;
}

/* Estiliza la pantalla de "Game Over" */
#game_over {
	width: 100%;
	height: 90%;
	border: 1px solid black;
	background: linear-gradient(#ff8099, #6a5cd7); 
	font-size: 64px;
	font-weight: bold;
	text-shadow: 2px 2px 7px black;
	color: #00c7e6; /* Naranja oscuro */
	display: none;
	grid-template-rows: repeat(2, 1fr);
	align-items: flex-end;
	justify-content: center;
}

/* Estiliza el botón de "Jugar otra partida" */
#rejugar {
	width: 90%;
	height: fit-content;
	font-size: 24px;
	font-weight: 400;
	align-self: center;
	justify-self: center;
	color: white;
	border-radius: 6px;
	background: linear-gradient(#a4edb3, #d764b5);
	box-shadow: inset -3px -2px 2px rgba(0, 0, 0, 0.7);
	cursor: pointer;
	padding: 3%;
}

/* Contenedor de los botones de control */
.control__buttons {
	display: none;
	align-items: center;
	justify-items: center;
}

/* Estilos para los botones de control */
.uplerido {
	height: 50px;
	color: white;
	border-radius: 6px;
	background: linear-gradient(#9650c6, #6a2f6c);
	font-size: 30px;
	font-weight: bold;
	box-shadow: inset -3px -2px 2px rgba(0, 0, 0, 0.7);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
